In [1]:
import pandas as pd
import numpy as np

In [20]:
usuarios = {
    'nombre':['Eduardo', 'Julieta', 'Fernando', 'Maria'],
    'calificacion':[8, 10, 7, 10],
    'edad':[27, 23, 22, 25],
    'aprobado':[True, True, False, True]
}

In [21]:
df = pd.DataFrame(usuarios)
df

     nombre  calificacion  edad  aprobado
0   Eduardo             8    27      True
1   Julieta            10    23      True
2  Fernando             7    22     False
3     Maria            10    25      True

In [23]:
df.nombre[df.aprobado == True]

0    Eduardo
1    Julieta
3      Maria
Name: nombre, dtype: object