## Ejercicios sobre dataframes

In [1]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv('users.csv')
df

,id,name,age,gender,country,email
0,0,Mr Jerome Thomas,73,male,United States,jerome.thomas@example.com
1,1,Mr Gary Berry,70,male,United Kingdom,gary.berry@example.com
2,2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
3,3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
4,4,Mr Damien Marchand,61,male,France,damien.marchand@example.com
...,...,...,...,...,...,...
195,195,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
196,196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com
198,198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com
199,199,Mr Raff Valkema,60,male,Netherlands,raff.valkema@example.com

### Nombre de todos los usuarios que tienen una edad mayor a 20

In [6]:
# Consulta mediante dataframe
df[df.age > 20].name

0        Mr Jerome Thomas
1           Mr Gary Berry
2         Mr Noham Dubois
3       Mrs Naja Johansen
4      Mr Damien Marchand
              ...
195         Mr Raul Bravo
196     Miss Maeva Fortin
197     Mr Gabriel Berger
198    Mrs Ülkü Tanrıkulu
199       Mr Raff Valkema
Name: name, Length: 200, dtype: object

In [8]:
# Consulta mediante loc

df.loc[df.age > 20, 'name']

0        Mr Jerome Thomas
1           Mr Gary Berry
2         Mr Noham Dubois
3       Mrs Naja Johansen
4      Mr Damien Marchand
              ...
195         Mr Raul Bravo
196     Miss Maeva Fortin
197     Mr Gabriel Berger
198    Mrs Ülkü Tanrıkulu
199       Mr Raff Valkema
Name: name, Length: 200, dtype: object

### Nombre de todas las personas cuyo sexo sea femenino y su edad sea mayor a 20

In [24]:
# Usando loc
# Para mostrar todos los datos lo dejamos asi:
# df.loc[(df.age > 20) & (df.gender == 'female')]

# Para mostrar solo el nombre, agregamos ese apartado
df.loc[(df.age > 20) & (df.gender == 'female'),'name']

3         Mrs Naja Johansen
7         Ms Britta Weinert
9      Miss Emilia Laitinen
10      Ms Cathriona Hanson
11         Miss Maia Clarke
               ...
192        Mrs Julia Barnes
193     Ms Delphine Ginnish
194     Madame Rosa Lefevre
196       Miss Maeva Fortin
198      Mrs Ülkü Tanrıkulu
Name: name, Length: 106, dtype: object

In [25]:
# Usando dataframe
df[(df.age > 20) & (df.gender == 'female')].name

3         Mrs Naja Johansen
7         Ms Britta Weinert
9      Miss Emilia Laitinen
10      Ms Cathriona Hanson
11         Miss Maia Clarke
               ...
192        Mrs Julia Barnes
193     Ms Delphine Ginnish
194     Madame Rosa Lefevre
196       Miss Maeva Fortin
198      Mrs Ülkü Tanrıkulu
Name: name, Length: 106, dtype: object

### Mostrar todos los correos que terminen con @gmail.com

In [27]:
df[df.email.str.endswith('@gmail.com')]

      id           name  age gender country                 email
151  151  Mr Thomas Lam   42   male  Canada  thomas.lam@gmail.com

# ~
## Negar una sentencia
### Invierte la consulta anterios, muestra a todos los usuarios que no tengan un correo con terminacion @gmail.com

In [28]:
df[ ~ df.email.str.endswith('@gmail.com')]

,id,name,age,gender,country,email
0,0,Mr Jerome Thomas,73,male,United States,jerome.thomas@example.com
1,1,Mr Gary Berry,70,male,United Kingdom,gary.berry@example.com
2,2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
3,3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
4,4,Mr Damien Marchand,61,male,France,damien.marchand@example.com
...,...,...,...,...,...,...
195,195,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
196,196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com
198,198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com
199,199,Mr Raff Valkema,60,male,Netherlands,raff.valkema@example.com