## Ejercicios sobre dataframes

In [1]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv('users.csv')
df

,id,name,age,gender,country,email
0,0,Mr Jerome Thomas,73,male,United States,jerome.thomas@example.com
1,1,Mr Gary Berry,70,male,United Kingdom,gary.berry@example.com
2,2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
3,3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
4,4,Mr Damien Marchand,61,male,France,damien.marchand@example.com
...,...,...,...,...,...,...
195,195,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
196,196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com
198,198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com
199,199,Mr Raff Valkema,60,male,Netherlands,raff.valkema@example.com

### Nombre de todos los usuarios que tienen una edad mayor a 20

In [6]:
# Consulta mediante dataframe
df[df.age > 20].name

0        Mr Jerome Thomas
1           Mr Gary Berry
2         Mr Noham Dubois
3       Mrs Naja Johansen
4      Mr Damien Marchand
              ...
195         Mr Raul Bravo
196     Miss Maeva Fortin
197     Mr Gabriel Berger
198    Mrs Ülkü Tanrıkulu
199       Mr Raff Valkema
Name: name, Length: 200, dtype: object

In [8]:
# Consulta mediante loc

df.loc[df.age > 20, 'name']

0        Mr Jerome Thomas
1           Mr Gary Berry
2         Mr Noham Dubois
3       Mrs Naja Johansen
4      Mr Damien Marchand
              ...
195         Mr Raul Bravo
196     Miss Maeva Fortin
197     Mr Gabriel Berger
198    Mrs Ülkü Tanrıkulu
199       Mr Raff Valkema
Name: name, Length: 200, dtype: object

### Nombre de todas las personas cuyo sexo sea femenino y su edad sea mayor a 20

In [24]:
# Usando loc
# Para mostrar todos los datos lo dejamos asi:
# df.loc[(df.age > 20) & (df.gender == 'female')]

# Para mostrar solo el nombre, agregamos ese apartado
df.loc[(df.age > 20) & (df.gender == 'female'),'name']

3         Mrs Naja Johansen
7         Ms Britta Weinert
9      Miss Emilia Laitinen
10      Ms Cathriona Hanson
11         Miss Maia Clarke
               ...
192        Mrs Julia Barnes
193     Ms Delphine Ginnish
194     Madame Rosa Lefevre
196       Miss Maeva Fortin
198      Mrs Ülkü Tanrıkulu
Name: name, Length: 106, dtype: object

In [25]:
# Usando dataframe
df[(df.age > 20) & (df.gender == 'female')].name

3         Mrs Naja Johansen
7         Ms Britta Weinert
9      Miss Emilia Laitinen
10      Ms Cathriona Hanson
11         Miss Maia Clarke
               ...
192        Mrs Julia Barnes
193     Ms Delphine Ginnish
194     Madame Rosa Lefevre
196       Miss Maeva Fortin
198      Mrs Ülkü Tanrıkulu
Name: name, Length: 106, dtype: object

### Mostrar todos los correos que terminen con @gmail.com

In [27]:
df[df.email.str.endswith('@gmail.com')]

      id           name  age gender country                 email
151  151  Mr Thomas Lam   42   male  Canada  thomas.lam@gmail.com

# ~
## Negar una sentencia
### Invierte la consulta anterior, muestra a todos los usuarios que no tengan un correo con terminacion @gmail.com

In [28]:
df[ ~ df.email.str.endswith('@gmail.com')]

,id,name,age,gender,country,email
0,0,Mr Jerome Thomas,73,male,United States,jerome.thomas@example.com
1,1,Mr Gary Berry,70,male,United Kingdom,gary.berry@example.com
2,2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
3,3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
4,4,Mr Damien Marchand,61,male,France,damien.marchand@example.com
...,...,...,...,...,...,...
195,195,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
196,196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com
198,198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com
199,199,Mr Raff Valkema,60,male,Netherlands,raff.valkema@example.com

### Obtener todos los usuarios que se encuentren en: *Alemania, Finlandia o Canada*

In [31]:
df[df.country.isin(['Canada', 'Germany', 'Finland'])]

,id,name,age,gender,country,email
5,5,Mr Harri Althoff,56,male,Germany,harri.althoff@example.com
7,7,Ms Britta Weinert,35,female,Germany,britta.weinert@example.com
9,9,Miss Emilia Laitinen,53,female,Finland,emilia.laitinen@example.com
20,20,Mr Vincenzo Rauscher,25,male,Germany,vincenzo.rauscher@example.com
21,21,Mr Louis Ross,60,male,Canada,louis.ross@example.com
31,31,Mr Toivo Kotila,27,male,Finland,toivo.kotila@example.com
36,36,Mr Anthony Wong,42,male,Canada,anthony.wong@example.com
38,38,Mrs Lotta Rintala,26,female,Finland,lotta.rintala@example.com
41,41,Miss Iida Ketola,46,female,Finland,iida.ketola@example.com
45,45,Ms Ilona Moilanen,22,female,Finland,ilona.moilanen@example.com
47,47,Miss Ellen Rinne,66,female,Finland,ellen.rinne@example.com
50,50,Mr Theo Miller,33,male,Canada,theo.miller@example.com
53,53,Ms Aino Lassila,54,female,Finland,aino.lassila@example.com
56,56,Ms Marcella Brosch,38,female,Germany,marcella.brosch@example.com
58,58,Miss Madison Ennis,49,female,Canada,madison.ennis@example.com
72,72,Ms Megan Brown,26,female,Canada,megan.brown@example.com
79,79,Ms Hanne Aschenbrenner,64,female,Germany,hanne.aschenbrenner@example.com
85,85,Mrs Luisa Weißmann,32,female,Germany,luisa.weissmann@example.com
87,87,Mr Joona Koskela,59,male,Finland,joona.koskela@example.com
88,88,Mrs Hilda Epp,22,female,Germany,hilda.epp@example.com
131,131,Mr Xavier Addy,30,male,Canada,xavier.addy@example.com
133,133,Miss Julia Ambrose,34,female,Canada,julia.ambrose@example.com
144,144,Ms Mareile Plate,51,female,Germany,mareile.plate@example.com
147,147,Mr Lauri Kotila,32,male,Finland,lauri.kotila@example.com
151,151,Mr Thomas Lam,42,male,Canada,thomas.lam@gmail.com
158,158,Mr Rafael Spangenberg,33,male,Germany,rafael.spangenberg@example.com
170,170,Mr Ryder Côté,25,male,Canada,ryder.cote@example.com
174,174,Ms Isla Koistinen,37,female,Finland,isla.koistinen@example.com
184,184,Mr Philip Bélanger,24,male,Canada,philip.belanger@example.com
193,193,Ms Delphine Ginnish,58,female,Canada,delphine.ginnish@example.com
196,196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com

### Nombre y correo electronico de todos los usuarios que tengan mas de 20 años, sean de sexo femenino y vivan en algun pais entre (*Alemania, Finlandia o Canada*)

In [47]:
# La consulta puede tener todos los datos, en este caso le agregamos name y email para mostrar mejor los datos
# df.loc[(df.age > 20) & (df.gender == 'female') & (df.country.isin(['Germany', 'Findland', 'Canada']))]
df.loc[(df.age > 20) & (df.gender == 'female') & (df.country.isin(['Germany', 'Findland', 'Canada'])), ('name', 'email')]

                       name                            email
7         Ms Britta Weinert       britta.weinert@example.com
56       Ms Marcella Brosch      marcella.brosch@example.com
58       Miss Madison Ennis        madison.ennis@example.com
72           Ms Megan Brown          megan.brown@example.com
79   Ms Hanne Aschenbrenner  hanne.aschenbrenner@example.com
85       Mrs Luisa Weißmann      luisa.weissmann@example.com
88            Mrs Hilda Epp            hilda.epp@example.com
133      Miss Julia Ambrose        julia.ambrose@example.com
144        Ms Mareile Plate        mareile.plate@example.com
193     Ms Delphine Ginnish     delphine.ginnish@example.com
196       Miss Maeva Fortin         maeva.fortin@example.com

In [48]:
df[(df.gender == 'female') & (df.age > 20) & (df.country.isin(['Germany', 'Findland', 'Canada']))].name

7           Ms Britta Weinert
56         Ms Marcella Brosch
58         Miss Madison Ennis
72             Ms Megan Brown
79     Ms Hanne Aschenbrenner
85         Mrs Luisa Weißmann
88              Mrs Hilda Epp
133        Miss Julia Ambrose
144          Ms Mareile Plate
193       Ms Delphine Ginnish
196         Miss Maeva Fortin
Name: name, dtype: object

### Obtener los usuarios mas viejos

In [51]:
# Ordenaremos los valores y mostraremos solo 10 registros
df.sort_values('age', ascending=False).head(10)

,id,name,age,gender,country,email
82,82,Miss Elsie Lawrence,75,female,Australia,elsie.lawrence@example.com
29,29,Mr Ilyès Lemaire,75,male,France,ilyes.lemaire@example.com
135,135,Mr Ray Henry,75,male,United States,ray.henry@example.com
153,153,Mrs Sophie Lewis,75,female,New Zealand,sophie.lewis@example.com
13,13,Mr Gerardo Garrido,74,male,Spain,gerardo.garrido@example.com
84,84,Mr Jordan Castro,74,male,Australia,jordan.castro@example.com
129,129,Mr Davut Mertoğlu,74,male,Turkey,davut.mertoglu@example.com
17,17,Mr Grayson Walker,74,male,New Zealand,grayson.walker@example.com
0,0,Mr Jerome Thomas,73,male,United States,jerome.thomas@example.com
24,24,Mr Leo Montgomery,73,male,Australia,leo.montgomery@example.com