# Dataframe
Mediante el dataframe podemos almacenar n cantidad de informacion con la que podemos trabajar

Muy parecido a un *excel*

In [1]:
# Importamos las librerias con las que vamos a trabajar
import pandas as pd

In [3]:
# Agregaremos un diccionario con el cual podremos trabajar el dataframe
usuarios = {
    'nombre':['Eduardo', 'Uriel', 'Marines', 'Fernando'],
    'calificacion':[10, 9, 10, 8.5],
    'edad':[27, 28, 25, 22],
    'aprobado':[True, False, True, True]
}

usuarios

{'nombre': ['Eduardo', 'Uriel', 'Marines', 'Fernando'],
 'calificaciones': [10, 9, 10, 8.5],
 'edad': [27, 28, 25, 22],
 'aprobado': [True, False, True, True]}

In [4]:
# Le pasamos el diccionario a nuestro dataframe
pd.DataFrame(usuarios)

     nombre  calificaciones  edad  aprobado
0   Eduardo            10.0    27      True
1     Uriel             9.0    28     False
2   Marines            10.0    25      True
3  Fernando             8.5    22      True

### Podemos cambiar el valor del index si es que es necesario para trabajar con esto

In [7]:
a = pd.DataFrame(usuarios, index=['a', 'b', 'c', 'd'])
a

     nombre  calificaciones  edad  aprobado
a   Eduardo            10.0    27      True
b     Uriel             9.0    28     False
c   Marines            10.0    25      True
d  Fernando             8.5    22      True

### Podemos acceder a los valores de una fila invocando su encabezado

In [8]:
a.nombre

a     Eduardo
b       Uriel
c     Marines
d    Fernando
Name: nombre, dtype: object

In [9]:
a['aprobado']

a     True
b    False
c     True
d     True
Name: aprobado, dtype: bool

### Si deseamos acceder a los valores solamente, usaremos el parametro values
esto devolvera un arreglo

In [10]:
a.edad.values

array([27, 28, 25, 22], dtype=int64)

# Indices & Columnas

In [11]:
a.columns

Index(['nombre', 'calificaciones', 'edad', 'aprobado'], dtype='object')

In [12]:
a.index

Index(['a', 'b', 'c', 'd'], dtype='object')

# Valores
Arreglo

In [13]:
a.values

array([['Eduardo', 10.0, 27, True],
       ['Uriel', 9.0, 28, False],
       ['Marines', 10.0, 25, True],
       ['Fernando', 8.5, 22, True]], dtype=object)

In [14]:
a.ndim

2

# Definir que columnas deseamos mostrar

In [19]:
b = pd.DataFrame(usuarios, columns=['nombre', 'edad'])
b

     nombre  edad
0   Eduardo    27
1     Uriel    28
2   Marines    25
3  Fernando    22