# Creacion de un dataframe a partir de una matriz de valores

In [1]:
# Importamos las librerias con las que vamos a trabajar
import numpy as np
import pandas as pd

In [4]:
# Creamos un arreglo de 12 numeros en una matriz de 3x4
a = np.arange(12).reshape(3,4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [7]:
# Creamos un dataframe almacenado en df al que le pasamos los valores de la matriz generada anteriormente
df = pd.DataFrame(a)
df

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

## Cambiando los encabezados de las columnas
### (Tambien los indices de la matriz)

In [8]:
df = pd.DataFrame(a, columns=['A', 'B', 'C', 'D'])
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [12]:
# Cambiando los indices del dataframe 
df = pd.DataFrame(a, columns=['A', 'B', 'C', 'D'], index=['a', 'b', 'c'])
df

   A  B   C   D
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

## Cambiar los valores de la columna una vez ya definida

In [14]:
df.columns = 'ab', 'bb', 'cb', 'db'
df

   ab  bb  cb  db
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11

## Cambiar los valores del indice una vez definida

In [15]:
df.index = 'a1', 'b2', 'c3'
df

    ab  bb  cb  db
a1   0   1   2   3
b2   4   5   6   7
c3   8   9  10  11

# Cambiar solo una columna

In [17]:
df.rename(columns={'ab' : 'AB'})

    AB  bb  cb  db
a1   0   1   2   3
b2   4   5   6   7
c3   8   9  10  11

## Cambiando solo un valor del index

In [18]:
df.rename(index={'c3' : 'C3'})

    ab  bb  cb  db
a1   0   1   2   3
b2   4   5   6   7
C3   8   9  10  11