### Podemos hacer uso de las funciones sobre cada elemento del dataframe

In [1]:
import pandas as pd

In [2]:
usuarios = {
    'nombre':['Eduardo', 'Uriel', 'Marines', 'Fernando'],
    'calificacion':[9, 10, 8.5, 1.5],
    'edad':[28, 26, 31, 23]
}

df = pd.DataFrame(usuarios)
df

     nombre  calificacion  edad
0   Eduardo           9.0    28
1     Uriel          10.0    26
2   Marines           8.5    31
3  Fernando           1.5    23

# apply
## Funcion que permite aumentar en uno la edad de los usuarios registrados
### (Esto crea una nueva serie donde se aplica solo la suma en edad )

In [6]:
#(axis=1) Recorremos el dataframe fila por fila, mandando el argumento a la funcion
#(lambda row: row[edad] +1) La funcion nos permite en la columna edad, sumarle un numero
df.apply(lambda row: row['edad'] + 1, axis = 1)

0    30
1    28
2    33
3    25
dtype: int64

## Para agregar los valores al dataframe original se le debe sumar

In [4]:
df.edad = df.apply(lambda row: row['edad'] +1, axis=1)

In [7]:
df

     nombre  calificacion  edad
0   Eduardo           9.0    29
1     Uriel          10.0    27
2   Marines           8.5    32
3  Fernando           1.5    24